.homeimagescontainer {
  margin-top: 20px;
  width: 100%;
  padding: 0px;
  position: relative;
  text-align: center;
  .imagehomeleft {
    padding: 0px;
    width: 100%;
    margin-top: -20px;
    img {
      width: 100%;
    }
  }
  .promo-frame {
    width: 100%;
    img {
      width: 100%;
      padding: 50px 20px 20px 20px;
      @media all and (max-width: 768px) {
        padding: 20px;
      }
    }
  }
  .ceramiques-in-home {
    padding: 30px 0px;
    @media all and (max-width: 768px) {
      padding: 0px;
    }
    .container-lighttheme {
      margin-top: 30px;
      @media all and (max-width: 768px) {
        margin-top: 0px;
      }
    }
  }
  .latest-products {
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 4px;
  }
}

.front-image {
  padding-bottom: 50px;
  @media all and (max-width: 768px) {
    padding-bottom: 20px;
  }
}

.hometext {
  text-align: center;
  margin: 40px 0px 80px 0px;
  h1 {
    font-weight: 400;
    font-size: 35px;
    margin-left: 0px;
  }
  p {
    font-weight: 100;
    font-size: 15px;
  }
}

.hometext-mobile {
  margin: 20px 0 40px 0;
  padding: 0 20px;
  text-align: center;
  h1 {
    font-weight: 400;
    font-size: 30px;
    margin-left: 0px;
  }
  p {
    font-weight: 400;
    font-size: 15px
  }
  #input4 {
    margin: auto;
    width: 70%;
    min-height: 100px;
  }
}

@media all and (max-width: 700px) {
  .latest-products {
    font-size: 30px !important;
  }
}
