.lighttheme-payment-h1 {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-top: 0px !important;
  padding-top: 20px;
}

.pay-form-lighttheme {
  margin-bottom: 100px;
  .adress, .product-amount, .lesson-amount {
    margin-top: 20px;
    margin-bottom: 10px;
    background: $card-background;
    padding: $padding-large;
    border-radius: 1px;
    border: $card-border;
    text-decoration: none;
  }
  h4 {
    margin-bottom: 15px;
    font-weight: 300;
  }
  h3 {
    font-weight: 400;
  }
  .stripe-button-el span{
    font-size: $font-size-a;
  }
  a {
    margin-top: 10px;
  }
}

.pay-form-lighttheme {
  .mobile-link-coord {
    text-align: center;
    width: 90%;
    border-radius: 1px;
    padding: 17px 17px;
    color: black;
    font-size: 14px;
    border: 1px solid black;
    background-color: white;
    transition: 0.1s background-color linear, 0.1s color linear;
    margin: 10px auto;
  }
  .laptop-link-coord {
    width: 60%;
    border-radius: 1px;
    padding: 6px 12px;
    font-size: 14px;
    margin: auto;
    color: white;
    border: 1px solid #7c2529;
    background-color: rgba(200, 16, 46, 0.9);
    box-shadow: 3px 3px rgba(249, 205, 99, 0.9);
    transition: 0.1s background-color, box-shadow linear, 0.1s color linear;
  }

  .laptop-link-coord:hover {
    background-color: rgba(249, 205, 99, 0.9);
    border: 1px solid #FF6F61;
    box-shadow: 3px 3px rgba(200, 16, 46, 0.9);
    color: white;
    transition: 0.1s background-color, box-shadow linear, 0.1s color linear;
  }
}

// MOBILE

@media all and (max-width: 700px) {
  .pay-form-lighttheme  {
    padding: 10px;
    margin-bottom: 30px;
    h3 {
      font-size: 22px;
    }
    h4 {
      font-size: 18px;
    }
    h5 {
     font-size: 15px;
    }
    .adress {
      padding: 10px 10px 20px 10px;
      margin-top: 10px;
    }
    .product-amount {
      padding: 10px;
    }
    .laptop-link-coord {
      padding: 10px;
    }
  }
}

