<div class="icone-bloc top-section-item laptop-item">
  <div class="social-buttons-contact">
    <a class="twitter-share-button" href="https://www.pinterest.fr/SunsuelleShop/" target="blank"><i class="fab fa-pinterest-square"></i></a>
    <a id="facebook-contact" href="https://www.facebook.com/sunsuelle/" target="blank"><i class="fab fa-facebook center-social-link"></i></a>
    <a href="https://www.instagram.com/sunsuelle/" target="blank"><i class="fab fa-instagram"></i></a>
  </div>
</div>
