#footer-lighttheme {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px -1px 5px 0 rgba(0, 0, 0, 0.07), 0px -1px 0 0 rgba(0, 0, 0, 0.03);
  border-image: linear-gradient(to right, #f9cd63, #E4554E) 1;
  border-width: 20px;
  border-style: solid;
  border-top: 0px;
  background: linear-gradient(to right, #f9cd63, #E4554E);
  .footer-bottom-section {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .contact {
    display: flex;
    h3 {
      font-size: 18px;
      font-weight: 400;
      color: white;
    }
    h4, span {
      font-size: 14px;
      font-weight: 300;
      color: white;
    }
    .connect, .CGV {
      margin: 20px 20px 0px 20px;
      padding-bottom: 20px;
    }
    .CGV {
      min-height: 100px;
      margin-bottom: 0px;
    }
  }
  a {
    color: white;
  }
  .link-guillaume {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: black;
  }
  .footer-middle-section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: white;
    .cards {
      display: flex;
      justify-content: center;
      margin: 18px auto 0 auto;
      img {
        margin: 0 20px;
      }
    }
    .footer-middle-box {
      margin: 0 50px;
      text-align: center;
      h4 {
        text-align: center;
        font-size: 18px;
      }
      span {
        margin: 22px 0 10px 0;
        display: block;
      }
    }
    .last-box-first-p {
      margin-top: 24px;
    }
    .last-box-last-p {
      width: auto;
      text-align: center;
    }
    img {
      width: 30px;
      height: 30px;
    }
    p {
      font-size: 15px;
      width: max-content;
    }
    .colissimo {
      width: 26px;
      height: auto;
      margin: 0 auto;
    }
  }
  .footer-top-section {
    color: white;
  }
}

@media all and (max-width: 850px) {
  #footer-lighttheme  {
    .footer-middle-section {
      display: block;
      .footer-middle-box {
        margin: 50px 0;
        &:last-child {
          margin-bottom: 30px;
        }
      }
      .last-box-first-p {
        margin-top: 0px;
      }
      .colissimo {
        position: relative;
        top: -6px;
      }
      p {
        width: auto !important;
        text-align: center;
      }
    }
    .contact {
      display: block;
    }
    .link-guillaume {
      bottom: 5px;
    }
  }
}
