.content-lighttheme {
  min-height: calc(100vh - 90px);
  h1 {
    color: black;
  }
}

.plain-text, .live-text, .article-content, .article-edit {
  ul {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 12px;
  }
  ul li:before {
    content: '-';
    position: absolute;
    margin-left: -12px;
  }
}

.plain-text, .live-text {
  li {
    font-weight: 100;
  }
}

.body-lighttheme {
  .btn.btn-primary {
    border-radius: 1px;
    padding: 21px 34px;
    font-size: 14px;
    color: white;
    border: 1px solid #7c2529;
    background-color: rgba(200, 16, 46, 0.9);
    box-shadow: 3px 3px rgba(249, 205, 99, 0.9);
    transition: 0.1s background-color, box-shadow linear, 0.1s color linear;
  }
  .btn.btn-primary:hover {
    background-color: rgba(249, 205, 99, 0.9);
    border: 1px solid #FF6F61;
    box-shadow: 3px 3px rgba(200, 16, 46, 0.9);
    color: white;
    transition: 0.1s background-color, box-shadow linear, 0.1s color linear;
  }
}

.subscribe-text {
  text-align: center;
  h2 {
    margin: 0;
    padding: 30px 10px 15px 10px;
    font-weight: 400;
    font-size: 20px;
    margin-left: 0px;
  }
  p {
    font-weight: 100;
    font-size: 13px;
    padding: 0 5px;
  }
  .live-text {
    margin-bottom: 20px;
    textarea {
      width: 70%;
      margin: auto;
    }
  }
}

.subscribe-form {
  text-align: center;
  padding-bottom: 10px;
  .subscribe-input {
    padding: 18px 29px 18px 11px;
    border: 1px solid #bfbfbf;
    font-size: 12px;
    color: black;
    font-weight: 100;
  }
  .subscribe-submit {
    margin-left: 7px;
    border-radius: 1px;
    padding: 18px 29px;
    font-size: 12px;
    color: white;
    border: 1px solid #7c2529;
    background-color: rgba(200, 16, 46, 0.9);
    box-shadow: 3px 3px rgba(249, 205, 99, 0.9);
    transition: 0.1s background-color, box-shadow linear, 0.1s color linear;
  }
  .subscribe-submit:hover {
    background-color: rgba(249, 205, 99, 0.9);
    border: 1px solid #FF6F61;
    box-shadow: 3px 3px rgba(200, 16, 46, 0.9);
    color: white;
    transition: 0.1s background-color, box-shadow linear, 0.1s color linear;
  }
}

.subscribe-form.contact {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  .subscribe-input {
    padding: 18px 29px 18px 11px;
    margin: 10px 0;
    border: 1px solid #bfbfbf;
    font-size: 12px;
    color: black;
    font-weight: 100;
    width: 80%;
  }
  .subscribe-submit {
    width: 80%;
    border-radius: 1px;
    padding: 18px 29px;
    font-size: 12px;
    color: white;
    border: 1px solid #7c2529;
    background-color: rgba(200, 16, 46, 0.9);
    box-shadow: 3px 3px rgba(249, 205, 99, 0.9);
    transition: 0.1s background-color, box-shadow linear, 0.1s color linear;
  }
  .subscribe-submit:hover {
    background-color: rgba(249, 205, 99, 0.9);
    border: 1px solid #FF6F61;
    box-shadow: 3px 3px rgba(200, 16, 46, 0.9);
    color: white;
    transition: 0.1s background-color, box-shadow linear, 0.1s color linear;
  }
}

@media all and (max-width: 800px) {
  .subscribe-text {
    h2 {
      font-weight: 400;
      font-size: 24px;
      margin-left: 0px;
    }
    p {
      font-weight: 100;
      font-size: 15px;
    }
  }
  .body-lighttheme {
    .subscribe-form {
      .subscribe-input {
        padding: 10px;
      }
      .subscribe-submit {
        padding: 10px;
      }
    }
  }
}

.container-lighttheme {
  margin: 0;
  padding: 20px 30px;
}

.content-lighttheme {
  padding: 0px;
  border-image: linear-gradient(to right, #FF6F61, #f93822) 1;
  border-width: 20px;
  border-style: solid;
  border-bottom: 0px;
  border-top: 0px;
  .lighttheme {
    border-radius: 1px;
    padding: 21px 34px;
    font-size: 14px;
    color: white;
    border: 1px solid #7c2529;
    background-color: rgba(200, 16, 46, 0.9);
    box-shadow: 3px 3px rgba(249, 205, 99, 0.9);
    transition: 0.1s background-color, box-shadow linear, 0.1s color linear;
  }
  .lighttheme:hover {
    background-color: rgba(249, 205, 99, 0.9);
    border: 1px solid #FF6F61;
    box-shadow: 3px 3px rgba(200, 16, 46, 0.9);
    color: white;
    transition: 0.1s background-color, box-shadow linear, 0.1s color linear;
  }
}

@media all and (max-width: 700px) {
  .body-lighttheme {
    .btn.btn-primary {
      padding: 21px 15px !important;
    }
  }
}

