/* NAVBAR MOBILE */
.content-lighttheme {
  padding-top: 203px;
  @media all and (max-width: 767px) {
    padding-top: 89px;
  }
  transition: padding-top ease 0.3s;
}
.devise-container {
  .content-devise {
    margin-top: 210px;
  }
}
.alert.alert-dismissible {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 203px;
}

.navbar-laptop-lighttheme.nav-mobile {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 16;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
@media all and (min-width: 990px) {
  .stage-container {
    margin-top: -100px;
  }
}

.navbar-laptop-lighttheme {
  background: white;
  .nav-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    background: linear-gradient(to right, #FF6F61, #f93822);
    a {
      font-weight: 100;
      color: white;
      text-decoration: none;
      font-size: 13px;
    }
    .top-nav-link {
      font-weight: 100;
    }
    i {
      font-weight: 14px;
    }
    .top-section-item {
      margin-right: 20px;
    }
    .nav-top-left {
      display: flex;
      align-items: center;
      z-index: 2;
      .social-buttons-contact {
        a {
          font-size: 17px;
        }
        .center-social-link {
          margin: 0 10px;
        }
      }
    }
    .nav-top-right {
      display: flex;
      align-items: center;
      z-index: 2;
      .languages {
        position: relative;
        top: -1px;
        @media all and (max-width: 768px) {
          margin-right: 20px;
        }
        .first-flag {
          margin-right: 20px;
        }
        img {
          width: 20px;
        }
      }
      .icone-bloc {
        margin-left: 20px;
      }
      .top-section-item:last-child {
        margin-right: 0px;
      }
    }
    .icone-bloc {
      display: flex;
      align-items: center;
      span {
        margin-left: 5px;
      }
    }
  }
  .navbar-logo {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
    .centered-logo img {
      height: 136px;
    }
  }
  .nav-bar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-link {
      font-size: 12px;
      font-weight: 400;
      color: black;
      text-decoration: none !important;
      padding: 0 20px 2px 20px;
      @media all and (max-width: 370px) {
        padding: 0 11px 2px 15px;
      }
      display: block;
      i {
        color: white !important;
      }
    }
    .nav-link:hover {
    }
    .nav-link:hover.nav-link-no-hover:hover {
    }
  }
}

.nav-link.link-with-bars {
  border-right: 1px solid black;
}
.third-link {
 border-right: 1px solid black;
}

.lightcart {
    width: 18px;
    top: -1px;
    position: relative;
}

.dropdown-menu.dropdown-menu-langages {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  display: block;
  padding: 0;
  min-width: 0px;
  left: -21px;
  top: 19px;
  border: 1px solid rgb(228,85,78);
  border-radius: 1px;
  a {
    font-weight: 100;
    margin-right: 0px !important;
    padding: 2px 20px;
  }
  a:hover {
    background: #f5f5f5;
  }
}

.dropdown.top-section-item {
  top: -3px;
}

.dropdown.top-section-item:hover .dropdown-menu.dropdown-menu-langages{
  visibility: visible;
  opacity: 1;
}

#lighttheme-filter-search, #lighttheme-filter-search-mobile {
  margin-right: 0px;
  .searchimg {
    width: 22px;
    top: 0px;
    position: relative;
  }
}

.mobile-nav {
  padding: 10px 0px 10px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .centered-logo-mobile {
    flex: 1 0 auto;
    justify-content: center;
    display: flex;
    img {
      width: 54px;
    }
  }
}
