/* NAVBAR MOBILE */
.content-lighttheme {
  // padding-top: 187px;
  padding-top: 20px;
  transition: padding-top ease 0.3s;
}
.devise-container-lighttheme {
  .content-devise {
    // margin-top: 220px;
    margin-top: 20px;
  }
}
.navbar-laptop-lighttheme.nav-mobile {
  // position: fixed;
  top: 0px;
  width: 100%;
  // height: 195px;
  z-index: 3;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
@media all and (min-width: 800px) {
  .stage-container {
    margin-top: -100px;
  }
}

.navbar-laptop-lighttheme {
  background: white;
  padding: 20px;
  border-image: linear-gradient(to right, #f9cd63, #E4554E) 1;
  border-width: 20px;
  border-style: solid;
  border-bottom: 0px;
  .nav-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: black;
      text-decoration: none;
      font-size: 14px;
    }
    .top-nav-link {
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid black;
      }
    }
    i {
      font-size: 14px;
    }
    .top-section-item {
      margin-right: 20px;
    }
    .nav-top-left {
      display: flex;
      align-items: center;
      z-index: 2;
      .dropdown-toggle {
        cursor: pointer;
      }
    }
    .nav-top-right {
      display: flex;
      align-items: center;
      z-index: 2;
      .top-section-item:last-child {
        margin-right: 0px;
      }
    }
    .icone-bloc {
      display: flex;
      align-items: center;
      span {
        margin-left: 5px;
      }
    }
  }
  .navbar-logo {
    display: flex;
    justify-content: center;
    position: relative;
    top: -20px;
    transition: all ease 2s;
    img {
      height: 120px;
    }
  }
  .nav-bar-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    .nav-link {
      font-size: 15px;
      text-decoration: none !important;
      color: black !important;
      margin-right: 50px;
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      display: block;
      i {
        color: black !important;
      }
    }
    .nav-link:hover {
      border-bottom: 1px solid black;
    }
    .nav-link:hover.nav-link-no-hover:hover {
     border-bottom: 1px solid transparent;
    }
  }
}

.shop-dropdown {
  position: relative;
}
.shop-sub-list {
  visibility: hidden;
  z-index: 2;
  z-index: 2;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
  display: flex;
  position: absolute;
  background: white;
  border: 1px solid rgb(228,85,78);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  left: -35%;
  a {
    display: block;
    color: black;
    padding: 20px;
    min-width: 200px;
    width: max-content;
    text-align: center;
    &:hover {
      text-shadow: 1px 1px 1px #ccc;
    }
  }
  .central-bar {
    display: flex;
    align-items: center;
    .vertical-bar {
      border-left: 1px solid rgb(228,85,78);
      height: 70%;
    }
  }
  .nav-themes, .nav-categories {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.shop-sub-list-mobile {
  visibility: hidden;
  z-index: 2;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
  position: absolute;
  background: white;
  border: 1px solid rgb(228,85,78);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  top: 30px;
  a {
    display: block;
    color: black;
    padding: 10px !important;
    min-width: 140px;
    width: max-content;
    text-align: center;
    font-size: 12px;
    &:hover {
      text-shadow: 1px 1px 1px #ccc;
    }
  }
  .all-products-link {
    margin: 0 auto;
  }
  .categories-and-themes {
    display: flex;
  }
  .central-bar {
    display: flex;
    align-items: center;
    .vertical-bar {
      border-left: 1px solid rgb(228,85,78);
      height: 70%;
    }
  }
  .nav-themes, .nav-categories {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.shop-dropdown:hover .shop-sub-list, .shop-dropdown:hover .shop-sub-list-mobile {
  visibility: visible;
  opacity: 1;
}

.dropdown-clic-1 {
  left: -29%;
}

.dropdown-clic-2 {
  right: -29%;
}

.lightcart {
    width: 18px;
    top: -1px;
    position: relative;
}

.dropdown-menu.dropdown-menu-langages {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  display: block;
  padding: 0;
  min-width: 0px;
  left: -21px;
  top: 19px;
  border: 1px solid rgb(228,85,78);
  border-radius: 1px;
  a {
    margin-right: 0px !important;
    border-bottom: none;
    padding: 2px 20px;
  }
  a:hover {
    border-bottom: none;
    background: #f5f5f5;
  }
}

.dropdown.top-section-item {
  top: -3px;
}

.dropdown.top-section-item:hover .dropdown-menu.dropdown-menu-langages{
  visibility: visible;
  opacity: 1;
}

#lighttheme-filter-search, #lighttheme-filter-search-mobile {
  margin-right: 0px;
  .searchimg {
    width: 18px;
    top: -2px;
    position: relative;
  }
}

@media all and (max-width: 850px) {
  .laptop-item {
    display: none !important;
  }
  .nav-link {
    font-size: 12px !important;
    margin: 0 13px !important;
  }
  .nav-bar-list {
    left: 0px !important;
  }
  #lighttheme-filter-search {
    position: relative;
    top: 3px;
  }

  .flag {
    width: 18px;
  }
  .navbar-laptop-lighttheme .nav-bar-list .nav-link:hover {
      border-bottom: 1px solid transparent !important;
  }
}
