.ceramiques-card-circle {
  border-radius: 55%;
  height: 55px;
  width: 55px;
  display: flex;
  p {
    margin: auto auto;
    font-size: 8px;
    color: black !important;
  }
}
.soldout {
  background: $primary;
}
.discount-circle {
  position: absolute;
  top: 10px;
  left: 10px;
  background: $discount;
}

.default-circle.ceramiques-card-circle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.ceramiques-card-circle {
  position: absolute;
  bottom: 20px;
  right: 20px;
}


.darktheme-circle.ceramiques-card-circle {
  position: absolute;
  top: 20px;
  right: 20px;
}
